<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <root>
	    <priority value="info"></priority>
		<appender-ref ref="ASYNC"/>
	</root>
	
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="INFOS" />
		<appender-ref ref="CONSOLE" />
	</appender>
	
	<category name="MONTHFEE" additivity="false">
		<priority value="info"></priority>
		<appender-ref ref="CDR_EXPORT_FILE" />
		<appender-ref ref="CONSOLE" />
	</category>
	
	<!-- 	================================ appenders ================================= -->
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="ALL" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%d] - [%-30Z{3}] - %m%n"/>
		</layout>
	</appender>

	<appender name="INFOS" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/process/log" />
		<param name="DatePattern" value=".yyyyMMdd'.txt'" />
		<param name="Threshold" value="ALL" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%d] - [%-30Z{3}] - %m%n"/>
		</layout>
	</appender>

	<appender name="CDR_EXPORT_FILE" class="com.elc.cdr1.CDRAppender">
	    <param name="File" value="./log/cdr_monthfee/log" />
		<param name="RolledFileNamePattern" value="log.%d.%i.txt" />
		
		<param name="DatePattern" value="yyyyMMddHHmm" />
		<param name="RolledPeriodMillis" value="120000" />
		<param name="MaxRecord" value="100" />
		
		<param name="RolledFolderDatePattern" value="yyyyMMdd" />
		<param name="RolledFilesFolder.bak" value="" />
		<param name="AutoDeleteEmptyFile" value="true" />
		
		<param name="IndexPattern" value="%04d" />
		<param name="MinIndex" value="0" />
		<param name="MaxIndex" value="9999" />
		
		<param name="Threshold" value="ALL" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout" />
	</appender>

</log4j:configuration>
